<a href="https://colab.research.google.com/github/satyambhatt5/Natural-language-Processing-/blob/main/Count_Vector_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import nltk
#from the sklearn we are using the feature of the function

from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [ ]:
text_data=np.array(["Satyam saw the train",
                    "the train was late",
                    "Max and Rob took the bus",
                    "i looked Max and Rob at the bus station",
                    "Max and Rob arrived at the bus station early but waited untill noon for the bus"])

In [ ]:
from nltk.corpus import stopwords
nltk.data.path
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stop_words=set(stopwords.words('english'))

In [ ]:
#now vectorization 

count=CountVectorizer(stop_words=stop_words)

bag_of_words=count.fit_transform(text_data)

In [ ]:
#show the feature matrix 

bag_of_words.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0],
       [1, 2, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1]])

In [ ]:
#get the feature name 

feature_names=count.get_feature_names()


#view features name 

feature_names

['arrived',
 'bus',
 'early',
 'late',
 'looked',
 'max',
 'noon',
 'rob',
 'satyam',
 'saw',
 'station',
 'took',
 'train',
 'untill',
 'waited']

In [ ]:
#create the data frame 

pd.DataFrame(bag_of_words.toarray(),columns=feature_names)

   arrived  bus  early  late  looked  ...  station  took  train  untill  waited
0        0    0      0     0       0  ...        0     0      1       0       0
1        0    0      0     1       0  ...        0     0      1       0       0
2        0    1      0     0       0  ...        0     1      0       0       0
3        0    1      0     0       1  ...        1     0      0       0       0
4        1    2      1     0       0  ...        1     0      0       1       1

[5 rows x 15 columns]