<a href="https://colab.research.google.com/github/satyambhatt5/Natural-language-Processing-/blob/main/tfi_vectorizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
#add the document 

corpus=["Satyam like to watch movies",
        "Dinesh like to play football",
        "Satyam like to watch the football but he does not like to play",
        "both Satyam and Dinesh like to play video games"]

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.data.path
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stop_words=set(stopwords.words('english'))

In [ ]:
#use this library for vectorizer  
vectorizer=TfidfVectorizer(use_idf=True)

In [ ]:
#we will transform the document into the vector form so that we will convert into number form


vectorizer_vector=vectorizer.fit_transform(corpus)

In [ ]:
#convert into the numpy array  through this 
vectorizer_vector.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.32528549, 0.62334157,
        0.        , 0.        , 0.39787085, 0.        , 0.32528549,
        0.        , 0.49144966],
       [0.        , 0.        , 0.        , 0.53212376, 0.        ,
        0.53212376, 0.        , 0.        , 0.35220727, 0.        ,
        0.        , 0.43080005, 0.        , 0.        , 0.35220727,
        0.        , 0.        ],
       [0.        , 0.        , 0.3290372 , 0.        , 0.3290372 ,
        0.25941671, 0.        , 0.3290372 , 0.34341053, 0.        ,
        0.3290372 , 0.21002018, 0.21002018, 0.3290372 , 0.34341053,
        0.        , 0.25941671],
       [0.4088945 , 0.4088945 , 0.        , 0.32237712, 0.        ,
        0.        , 0.4088945 , 0.        , 0.21337811, 0.        ,
        0.        , 0.26099206, 0.26099206, 0.        , 0.21337811,
        0.4088945 , 0.        ]])

In [ ]:
# if i need check he vacabulary of the model 

feature_names=vectorizer.get_feature_names()

feature_names

['and',
 'both',
 'but',
 'dinesh',
 'does',
 'football',
 'games',
 'he',
 'like',
 'movies',
 'not',
 'play',
 'satyam',
 'the',
 'to',
 'video',
 'watch']

In [ ]:
#convert into the dataframe 
#through this we try to find the weightage if the word 


df=pd.DataFrame(vectorizer_vector.toarray(), columns=feature_names)
df

        and      both       but  ...        to     video     watch
0  0.000000  0.000000  0.000000  ...  0.325285  0.000000  0.491450
1  0.000000  0.000000  0.000000  ...  0.352207  0.000000  0.000000
2  0.000000  0.000000  0.329037  ...  0.343411  0.000000  0.259417
3  0.408894  0.408894  0.000000  ...  0.213378  0.408894  0.000000

[4 rows x 17 columns]

In [ ]:
df.describe()

            and      both       but  ...        to     video     watch
count  4.000000  4.000000  4.000000  ...  4.000000  4.000000  4.000000
mean   0.102224  0.102224  0.082259  ...  0.308570  0.102224  0.187717
std    0.204447  0.204447  0.164519  ...  0.064444  0.204447  0.236551
min    0.000000  0.000000  0.000000  ...  0.213378  0.000000  0.000000
25%    0.000000  0.000000  0.000000  ...  0.297309  0.000000  0.000000
50%    0.000000  0.000000  0.000000  ...  0.334348  0.000000  0.129708
75%    0.102224  0.102224  0.082259  ...  0.345610  0.102224  0.317425
max    0.408894  0.408894  0.329037  ...  0.352207  0.408894  0.491450

[8 rows x 17 columns]